.menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#736a69;
    font-style:inherit ;
    padding: 3%;
    width: 150px;
    height: 160px;
    margin-top: 0%;
    flex: 1;
    
    
}

.heading {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: #222222;
    padding-bottom: 5% ;
    padding-top: 5%;
    flex: 2;
    margin-bottom: 10%;
}

a { 
    color: white;
    font-style: oblique;
}

img { 
    text-align: center;
    border-radius:50%;
    border-color: #bfaba4;
    border-style : solid;
    border-width: 6px;
    position: absolute;
    left: 2px;
    top: 260px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #504748 ;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}

footer{ 
    background-color:  #222222;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-bottom: 3%;
    margin-top: 2%;
    padding-left: 3%;  

}

article {
    margin-left: 7%;
    margin-right: 7%;  
    display: flexbox;
}

h2 {
    font-variant-caps: titling-caps;
    font-size: xx-large;
    color: #bfaba4;
    background-color: #222222;
    padding-left: 1%;
    margin-right: 40%;
}


ul {
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
}

section {
    display: flexbox;
    position: relative;
}