.menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(88, 190, 156);
    font-style:inherit ;
    padding-left: 0;
    width: 150px;
    height: 160px;
}

.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(138, 169, 226);

}

a { 
    color: rgb(12, 86, 6);
    font-style: oblique;
}

img { 
    text-align: center;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(202, 235, 227) ;
     ;
}

footer{ 
    background-color: lightblue;
    
}